@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
*{
    padding:0%;
    margin: 0%;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav{
    background: #f2f2f2;   
}
#brand{
    font-size: 20px;
    font-family: 'Cinzel', serif;
}

.navbar1{
    background: #f2f2f2;
}
#navbar.navbar-nav a{
    color: black;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
#navbar.navbar-nav a:hover{
    border-bottom: 2px solid blue;
width: fit-content;

}

#navbar a{
    padding: 5px 8px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

#carouselExampleIndicators{
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-body{
    background: #f2f2f2;
}
.card{
    box-shadow: 0 0 1px rgb(117, 117, 117);
}
.carditems img:hover{
    padding: 20px;
    transition-duration: .5s;
}
.card:hover{
    border:1px solid rgb(172, 171, 171);
}
.carditems h5{
font-size: 15px;
}
.carditems h3{
    font-size: 22px;
    }
.arrinvals{
        font-size: 20px;
    }
    #newarrivals a{
        font-size: 13px;
    }
    #newarrivals h5{
        font-size: 15px;
    }
    .footer{
        background: rgb(14, 13, 13);
    }
    .footer h6{
        font-size: 17px;
        font-family: 'poppins',sans-serif;
    }
    .footer a{
        
        color: white;
        font-size: 11px;
    }
    .footer a:hover{
        text-decoration: none;
        color: white;
    }
    .brands a{
        font-size: 20px;
    }
    #bname{
        font-size: 25px;
        font-family:'Cinzel',serif;
    }
    #footer{
        background: rgb(14, 13, 13);
    }
    
    

    